nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(211,211,211, 0.5);
  border-width: 90%;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.searchInput {
  text-align: center;
  border: 1px solid rgba(211,211,211, 0.8);
  border-radius: 0.5rem;
}
